<div class="row">
  <div class="col-sm-6">

  </div>
  <div class="col-sm-6 post">
    <div class="row">
      <div class="col-sm-2">

      </div>
      <div class="col-sm-8">
        <input name="" ng-model="x.header" class="form-control">
        <input name="" ng-model="x.image" class="form-control">
        <input name="" ng-model="x.desc" class="form-control">
        <input type="submit" ng-click="post(x)" class="btn btn-default pull-right">
      </div>
      <div class="col-sm-2">

      </div>
    </div>
  </div>
</div>
